{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}

{%- endblock navbar %}
{% block sidebar -%}
    <!-- sidebar: style can be found in sidebar.less -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <div class="user-panel">

    </div>
    <ul class="sidebar-menu">
        <li class="header">OPTIONS</li>
        <li class="active">
            <a href="{{ url_for('index') }}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
    </ul>
    <!-- /.sidebar -->
{%- endblock sidebar %}
{% block content_header -%}
    <h1>
        Melbourne Pedestrian Statistics
        <small>Melbourne City Council Pedestrian Data Set</small>
    </h1>

{%- endblock content_header %}
{% block content -%}
    <!--
    <h4 class="page-header">
      Most Popular Spot Overall
      <small>2017 most popular </small>
    </h4>
    -->
    <!-- Small boxes (Stat box) -->
    <div class="row">

        {{ widgets.small_box(
                bgcolor="bg-aqua",
                header=most_pop_overall[0].count,
                body="Most Pedestrians for 2017: " + most_pop_overall[0].sensor_name,
                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-green",
                header=most_pop_day[0].count,
                body="Most Popular Day: " + most_pop_day[0].day + " - " + most_pop_day[0].sensor_name,
                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-yellow",
                header=most_pop_time[0].count,
                body="Most Popular Time: " + most_pop_time[0].time + " - " + most_pop_time[0].sensor_name,

                footerlink="#"
              ) }}

        {{ widgets.small_box(
                bgcolor="bg-red",
                header=most_pop_time[0].count,
                body="Most Popular Month: " + most_pop_month[0].month + " - " + most_pop_day[0].sensor_name,

                footerlink="#"
              ) }}

    </div><!-- /.row -->


    <h2>Pedestrian Average Daily Traffic</h2>
    <div id="map" style="height:400px;"></div>

    <script>
        function initMap() {
            var heatMapData = [

                {% for location in avg_daily_traffic %}

                    {location: new google.maps.LatLng( {{location[2]}} , {{location[3]}} ), weight: 1},

                {% endfor %}
            ];

            var melbourne = new google.maps.LatLng(-37.814797, 144.966446);



                map = new google.maps.Map(document.getElementById('map'), {
                center: melbourne,
                zoom: 15,

            });

            var heatmap = new google.maps.visualization.HeatmapLayer({
              data: heatMapData
            });
            heatmap.setMap(map);
                    }

        </script>




        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC91q4j-UaFY-TA0Y9gSe2EdLfUbOgUR9w&libraries=visualization&callback=initMap">
        </script>

    <h1>Word Map</h1>
    <img src="../static/img/wordcloud.png">


{%- endblock content %}
