{% extends "adminlte/base.html" %}
{% import "adminlte/layout.html" as layout with context %}
{% import "adminlte/widgets.html" as widgets with context %}

{% block navbar %}

{%- endblock navbar %}
{% block sidebar -%}
        <!-- sidebar: style can be found in sidebar.less -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
          <div class="user-panel">

          </div>
          <ul class="sidebar-menu">
          <li class="header">OPTIONS</li>
            <li class="active">
              <a href="{{ url_for('index') }}">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>

            <li class="treeview">
              <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li>
                  <a href="{{ url_for('login') }}">
                    <i class="fa fa-circle-o"></i>
                    Login
                  </a>
                </li>
                <li>
                  <a href="{{ url_for('lockscreen') }}">
                    <i class="fa fa-circle-o"></i>
                    Lockscreen
                  </a>
                </li>
              </ul>
            </li>

          </ul>
        <!-- /.sidebar -->
{%- endblock sidebar %}
{% block content_header -%}
          <h1>
            Melbourne Pedestrian Statistics
            <small>Melbourne City Council Pedestrian Data Set</small>
          </h1>

{%- endblock content_header %}
{% block content -%}
          <h4 class="page-header">
            Most Popular Spot Overall
            <small>2017 most popular </small>
          </h4>
          <!-- Small boxes (Stat box) -->
          <div class="row">

            {{
              widgets.small_box(
                bgcolor="bg-aqua",
                header=150,
                body="New Orders",
                iconclass="ion ion-bag",
                footerlink="#"
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-green",
                header=53,
                body="Bounce Rate",
                iconclass="ion ion-stats-bars",
                footerlink="#"
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-yellow",
                header=43,
                body="User Registrations",
                iconclass="ion ion-person-add",
                footerlink="#"
              )
            }}

            {{
              widgets.small_box(
                bgcolor="bg-red",
                header=65,
                body="Unique Visitors",
                iconclass="ion ion-pie-graph",
                footerlink="#"
              )
            }}

          </div><!-- /.row -->

{%- endblock content %}
